/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL STYLE */
body {
    font-family: 'PT Sans', sans-serif;
}

h2,
h3,
{
padding: 2rem;
}

h4 {
    padding: 1.5rem;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
}

/* HEADER SECTION */
.header-section {
    background-color: dodgerblue;
    height: 4rem;
    display: flex;
}

.container-header {
    justify-content: space-between;
    align-items: center;
    color: white;
}

.header-menu {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    display: none;
}

.header-btn {
    background-color: white;
    color: black;
    border-radius: 10rem;
    padding: .5rem;
    border: 1px solid white;
}

/* TABLET FIRST */
@media screen and (min-width: 768px) {
    .header-menu {
        display: none;

    }

}

/* DESKTOP FIRST 
@media screen and (min-width: 992px ){
    .header-menu{
        display: block;
    }   
}


/* APP SECTION */
.app-container {
    padding-top: 2rem;
    padding-bottom: 3rem;
    width: 90%;
}

.col-app {
    border: 1px solid black;
    padding: .5rem;
    min-height: 20rem;

}

/* TABLET FIRST */
@media screen and (min-width: 768px) {

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .col-app:first-child {
        width: 65%;
        margin-bottom: 3rem;
    }

    .col-app {
        width: 30%;
        margin-bottom: 3rem;
    }
}

/* STRATEGIC SECTION*/
.strategic-container {
    width: 90%;
}

.col-str {
    border: 1px solid black;
    min-height: 20rem;
    padding: .5rem;
}

/* TABLET FIRST */
@media screen and (min-width: 768px) {
    .row {
        display: flex;
    }

    .col-str {
        width: calc(50% - 1rem);
        flex-wrap: wrap;
    }
}

/* TESTIMONIALS SECTION */
.col-test {
    border: 1px solid black;
    min-height: 10rem;
    padding: .5rem;
}

.testimonials-container {
    width: 90%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* BENEFITS SECTION */

.col-ben {
    border: 1px solid black;
    min-height: 10rem;
    padding: .5rem;
}

.benefits-container {
    width: 90%;
    padding-bottom: 2rem;
    display: flex;
}

/* TABLET FIRST */
@media screen and (min-width: 768px) {
    .benefits-container .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .col-ben {
        width: 30%;
        padding-bottom: 2rem;
    }
}

/* ABOUT SECTION */
.about-container {
    width: 90%;

}

.col-about {
    border: 1px solid black;
    min-height: 20rem;
    display: flex;
}

@media screen and (min-width: 768px) {
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-about:first-child {
    width: 65%;
    margin-bottom: 3rem;
}

.col-about {
    width: 30%;
    margin-bottom: 3rem;
 }

}
/*FOOTER SECTION*/
.col-footer{
    width: 100%;
    border: 1px solid black;
    min-height: 10rem;
}
.col2-footer{
    width: 100%;
    border: 1px solid black;
    min-height: 10rem;
}