/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL STYLE */
body{
font-family: 'PT Sans', sans-serif;
}

h2,
h3,{
    padding: 2rem;
}

h4 {
    padding: 1.5rem;
}
.container{
    width: 90%;
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
}


/* HEADER SECTION */
.header-section{
    background-color: dodgerblue;
    height: 4rem;
    display: flex;
    
}
.container-header{
    justify-content: space-between;
    align-items: center;
    color: white;
}
.header-menu{
    display: flex;
    list-style-type: none;
    gap: 1rem;
}
.header-btn{
    background-color: white;
    color: black;
    border-radius: 10rem;
    padding: .5rem;
    border: 1px solid white;
}
@media screen and (max-width: 480px){
    .header-menu{
        display: none;
    }
    
}
    







